---
layout: simple_page.njk
load_comments_script: true
---

<h1>{{ title }}</h1>
{% if date %}
    <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time> |
{% endif %}
{% if tags %}
    {% for tag in tags %}
        <span>{{ tag }} {% if loop.last == false %}·{% endif %}</span>
    {% endfor %}
    |
{% endif %}
{{ content | timeToRead }}

{% if english_path and english_title %}
    <blockquote>English version available: <a href="/en/weblog/{{ english_path }}">{{ english_title }}</a></blockquote>
{% endif %}


{{ content | safe }}

{% if comment_status %}
    <hr>
    <h3>comentarios · <a href="https://hachyderm.io/@sofiaritz/{{ comment_status }}">ver en el servidor</a></h3>
    <button data-status="{{ comment_status }}" id="comment-load-btn">Cargar comentarios</button>
    <section id="comment-section"></section>
{% endif %}
