:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    min-height: 100%;
    color: rgba(255, 255, 255, 0.9);

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25)), url("/assets/background.webp");
    background-color: #221130;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a {
    color: #e74cac;
}

code {
    font-family: "JetBrains Mono", monospace;
    padding: 2px 3px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

button {
    color: white;
    padding: 3px;
    margin: 3px;

    transition: all 150ms;
    background-color: #dc3f99;
    border: solid 3px;
    border-color: #f38cc2 #dc158d #dc158d #f38cc2;
}

button:hover {
    cursor: pointer;
    border-color: #d76d9c #ff0088 #ff0088 #d76d9c;
}

hr {
    color: #bebebe;
}

blockquote {
    border-left: 10px solid #dc3f99;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote[quote]:before {
    content: open-quote;
}

summary:hover {
    cursor: pointer;
}

pre {
    font-family: monospace;
}

* {
    font-family: Rubik, sans-serif;
}

.top-title {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #d52c9c;
}

.page-container {
    display: flex;
    margin: 0 10px;
    gap: 15px;
    justify-content: center;
}

.redirect-notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #d76d9c solid 3px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

main {
    width: 40vw;
}

@media only screen and (max-width: 600px) {
    .page-container {
        display: block;
        width: 100%;
    }

    main {
        width: 90%;
    }
}

.__hidden {
    display: none;
}
