/* TODO(sofia@git.sofiaritz.com): Improve button */

#comment-load-btn {
    margin-bottom: 50px;
    display: block;
    padding: 5px;
    color: white;

    transition: all 150ms;
    background-color: #dc3f99;
    border: solid 3px;
    border-color: #f38cc2 #dc158d #dc158d #f38cc2;
}

#comment-load-btn:hover {
    cursor: pointer;
    border-color: #d76d9c #ff0088 #ff0088 #d76d9c;
}

.comment {
    background-color: #221130;
    border: #382e60 solid 1px;
    border-radius: 7px;
    margin: 10px 0;
}

.comment-author {
    display: flex;
    gap: 5px;
    padding: 5px;
    background-color: #382e60;
}

.comment-author-image {
    border-radius: 3px;
    height: 70px;
}

.comment-author-data {
    display: flex;
    flex-direction: column;
}

.comment-content {
    padding: 3px 10px;
}
