.navbar ul {
    padding: 0;
    list-style: none;
}

.navbar div ul li {
    display: block;
    width: 175px;
    padding: 3px;
    margin: 10px 0;

    transition: all 150ms;
    background-color: #dc3f99;
    border: solid 3px;
    border-color: #f38cc2 #dc158d #dc158d #f38cc2;
}

.navbar div ul li:hover {
    border-color: #d76d9c #ff0088 #ff0088 #d76d9c;
}

.navbar div ul li a {
    color: white;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: flex;
        gap: 10px;
        overflow: scroll;
    }
}
